@model IEnumerable<HisseDagitim.Model.Somut.HisseSahibi>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Hisse Dağıtım Proğramı</h2>
</div>

@*>Arama ekranı
    Hisse sahibi arama olacak, hisse sahibi seçilince, seçilen kişinin hisseleri ekrana gelecek.
    kişiye ait hisselerin işlemi burda yapılacak

    örnek: ahmet aratılır, ahmetin hisseleri ekrana gelir. Ahmetin hisseleri üzerinde kar dağıtımı, yeni pay dağıtımı yapılır
    Kar dağıtımı: sene seçilir, çarpan belirlenir, işlendi diye işaretlenir.
    hisse blokajı: seçilen senedin bool geçerlimi boolu false'a çekilir.

    kar dağıt->kişi seç->senet seç->kar dağıtım pulu senesi seç->isDagitildi==false ise dağıtma işlemini yap->çarpan belirle->kar dağıt butotnuna bas->isDagitildi true olsun
          


    Hisse senedi işlemlerinde birden fazla hisseye işlem yapılacak.
    Örnek: belli bir tertip numarasına ait tüm hisselerin blokajı
    yeni hisse senedi oluşturma olacak
    yeni tertip numaralı hisseler oluşturma: senetlerin senesi seçilir(şu an bulunulan sene), sonra seneye ait daha önce oluşturulan tertip numarası varsa bu numara bir artırılır ve herkesin hisse değeri kadar yeni senetler oluşturulur


    örnek:
    sene:2020
    tertip no:1
    hisse oluştur->herkese oluştur-> herkese yeni hisse senedi oluşturulur


    *@




@* Sonuç ekranı *@


<h3> Hisse Sahibi Listesi </h3>

<ul class="list-group" >
    @foreach (var hsahip in Model)
    {
        <li class="list-group-item">
            @hsahip.HSahipAdi
        </li>
    }
</ul>