
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}

<h2>Hisse İşlemleri</h2>



<p>
    <button type="button" class="btn-default" onclick="location.href='@Url.Action("HSahipIslemleri","HisseSahibiIslemleri")'">Hisse Sahibi İşlemleri</button>  Hisse Sahibi ve Belli Bir Kişinin Hisse Senedi İşlemleri, Blokaj ve Yeni Oluşturma<br />
    <button type="button" class="btn-default" onclick="location.href='@Url.Action("Index","HisseSenediIslemleri")'">Hisse Senedi İşlemleri</button>  Yeni Tertip, Yeni Seri Hisse Oluştur, Toplu Hisse Blokajı<br />
    <button type="button" class="btn-default" onclick="location.href='@Url.Action("Index","PayDagitim")'">Pay Dağıtım İşlemleri</button>  Kar Payı ve Yeni Pay Dağıtım İşlemleri, Senelik Kar Payı Belirleme<br />
    <button type="button" class="btn-default" onclick="location.href='@Url.Action("Index","Kullanici")'">Kullanıcı İşlemleri</button> Kullanıcı Ekle, Çıkar<br />
</p>